#customize-controls .control-section-ecommerce-wp .accordion-section-title:hover,
#customize-controls .control-section-ecommerce-wp .accordion-section-title:focus {
	background-color: #9f5505;
	color: #fff;
}

.control-section-ecommerce-wp .accordion-section-title .button {
	margin-top:  -4px;
	font-weight: 400;
	margin-left: 8px;
	background-color: #F24C5A;
	border-color: #F24C5A;
	color: #fff;
}


li#accordion-section-ecommerce-wp h3.accordion-section-title {
    background-color: #ca6f0e;
    color: #fff;
}

#customize-controls .customize-info .customize-help-toggle {
    cursor: pointer;
}

.rtl .control-section-ecommerce-wp .accordion-section-title .button {
	margin-left:  0;
	margin-right: 8px;
}
